body:not(.noscript) #noscript-screen,
body:not(.noasync)  #noasync-screen,
body:not(.no-cdnjs) #no-cdnjs-screen,
body:not(.no-asw)   #no-asw-screen,
body:not(.main)     #main-screen
{ display: none; }

html, body { margin: 0; height: 100%; width: 100%; }
body { background: #ccc; display: flex; justify-content: center; align-items: center; }
body { font-family: verdana, arial, helvetica, sans-serif; }

.screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-box
{
    background: #fff;
    font-size: 1.5em;
    padding: .8em;
    border: .3em solid #666;
    border-radius: .3em;
    max-width: 95vmin;
    font-style: italic;
}
.error-box header { font-size: 150%; font-weight: bold; font-style: normal; font-variant: small-caps; }
.error-box .pre { font-family: monospace; }

#main-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10vmin;
}
@media (orientation: portrait) { #main-row { flex-direction: column; align-items: stretch; } }

.main-box
{
    padding: 2em;
    border: 2px solid #666;
    border-radius: 3vmin;
    background: #eee;    
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#card-size-percent, #card-width, #card-height, #gap-width, #gap-height { width: 3.2em; text-align: center; }

#lock-aspect-ratio:not(:checked) ~ #card-size-percent-box,
#lock-aspect-ratio:checked       ~ #card-size-loose-box
{ display: none; }

#card-size-percent-box { display: flex; flex-direction: row; justify-content: space-evenly; }

#decks-box { align-self: stretch; }
#decks-container:empty::before { content: "No Decks selected"; font-style: italic; text-align: center; display: block; }
#decks-container { display: flex; flex-direction: column; }
#decks-container .entry { font-size: 70%; display: flex; flex-direction: row; padding: .2em .5em; border-radius: .3em; cursor: pointer; }
#decks-container .delete { background: rgba(0,0,0,15%); display: inline-block; padding: 0 .3em; }
#decks-container .name, #decks-container .status { flex-grow: 1; flex-basis: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#output-box { display: grid; }
#pagecount-box { grid-row: 1; grid-column: 1 / span 2; }
#card-preview-box { grid-row: 2; grid-column: 1; }
#page-preview-box { grid-row: 2; grid-column: 2; }
#make-pdf-box { grid-row: 3; grid-column: 1 / span 2; }

#card-preview, #page-preview { max-width: min(20vh,40vw); max-height: min(20vh,40vw); }
#pagecount-box
{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#pagecount-box-ctr, #output-overlay-box
{
    display: grid;
    align-items: baseline;
    grid-gap: 0 0.3em;
    font-size: 150%;
}
#pagecount-box-ctr span.num, #output-overlay-box span.num { font-size: 200%; justify-self: flex-end; }
#make-pdf-box
{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#make-pdf { text-align: left; }

body:not(.deck-select) #deck-select-overlay, body:not(.deck-select) #deck-select-overlay-bg { display: none; }
#deck-select-overlay, #deck-select-overlay-bg
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#deck-select-overlay-bg {
    background: rgba(0,0,0,0.5);
    transition: background 0.5s;
    z-index: 100;
}
#deck-select-overlay-bg:hover { background: rgba(0,0,0,0.25); }

#deck-select-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    z-index: 101;
    pointer-events: none;
}
@media (orientation: portrait) { #deck-select-overlay { flex-direction: column; } }

#deck-select-box {
    pointer-events: initial;
    box-sizing: border-box;
    width: 98vmin;
    height: 98vmin;
    
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#deck-select-controls
{
    display: flex;
    flex-direction: row;
    gap: .4em;
}

#deck-select-ctr {
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-gap: 0 .2vmin;
    overflow-y: auto;
}

#deck-select-ctr .card-proxy { transition: filter .25s; }
#deck-select-ctr .card-proxy.disabled { filter: sepia(40%) brightness(60%); }
#deck-select-ctr .card-proxy img { max-width: 100%; }
